---
layout: default
title: Yanis Jiang
---
<!-- <div class="jumbotron" style="background-image:url(/images/smartisan.jpg);height:300px" >
    <h1 style="color:#999999;">Smartisan T1</h1>
    <p class="lead"></p>
    <p><a class="btn btn-lg btn-success" href="http://yanisj.github.io/2014/05/22/smartisan.html" role="button">Click</a></p>
</div> -->

<!-- accordian bord -->
<div class="accordian">
    <ul>
        <li>
            <div class="image_title">
                <a href="http://yanisj.github.io/2014/05/31/calculator.html">Calculator</a>
            </div>
            <a href="http://yanisj.github.io/2014/05/31/calculator.html">
                <img src="/images/accordian/calculator.jpg">
            </a>
        </li>
        <li>
            <div class="image_title">
                <a href="http://yanisj.github.io/2014/07/29/Flappy-Bird.html">Flappy Bird with CSS3 & jQuery</a>
            </div>
            <a href="http://yanisj.github.io/2014/07/29/Flappy-Bird.html">
                <img src="/images/accordian/flappyBird.jpg">
            </a>
        </li>
        <li>
            <div class="image_title">
                <a href="http://yanisj.github.io/2014/07/01/BPM.html">图片切换效果</a>
            </div>
            <a href="http://yanisj.github.io/2014/07/01/BPM.html">
                <img src="/images/accordian/bpm.jpg">
            </a>
        </li>
        <li>
            <div class="image_title">
                <a href="http://yanisj.github.io/2014/06/18/HPJ.html">Horizontal Portfolio Layout</a>
            </div>
            <a href="http://yanisj.github.io/2014/06/18/HPJ.html">
                <img src="/images/accordian/hpl.jpg">
            </a>
        </li>
        <li>
            <div class="image_title">
                <a href="http://yanisj.github.io/2014/06/06/win8.html">Window 8</a>
            </div>
            <a href="http://yanisj.github.io/2014/06/06/win8.html">
                <img src="/images/accordian/windows.jpg">
            </a>
        </li>
    </ul>
</div>
<!-- accordian end -->

<div id = "home">
    
<!-- <h1>Blog Posts</h1> -->
    <ul class = "posts">
        {% for post in site.posts %}
        <li>
            <span>{{ post.date | date_to_string }}</span>

             &raquo; 

            <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
            </a>

            <div class="tags">
                {% for tag in post.tags %}
                    <a class="tag" href="{{ site.baseurl }}/tags?tag={{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>

</div>